body {
  color: black; /* Cambiar todas las fuentes a negro */
}

.logo {
  margin-bottom: 40px; /* Espacio entre el logo y las cards */
}

.card {
  position: relative;
  flex: 0 0 309px;
  height: 300px;
  overflow: hidden;
  margin-left: 1.5rem;
  border-radius: 18px;
  box-shadow: 
    2px 4px 12px
    rgba(0,155,119);
}

.center-cards {
  display: flex;
  justify-content: center; /* Centrar las cards horizontalmente */
}

.card-title {
  color: black; /* Asegurar que el texto del título de la card sea negro */
}

.card-action a {
  color: black; /* Asegurar que el enlace en la card sea negro */
}

h5, h6 {
  color: black; /* Cambiar el color de los títulos a negro */
}