body {
  color: black; /* Cambiar todas las fuentes a negro */
}

.logo {
  margin-bottom: 50px; /* Espacio entre el logo y las cards */
}

.card {
  margin-bottom: 5px; /* Espacio entre las cards */
}

.center-cards {
  display: flex;
  justify-content: center; /* Centrar las cards horizontalmente */
  flex-wrap: wrap; /* Permitir que las cards se ajusten a la línea */
}

.card-title {
  color: black; /* Asegurar que el texto del título de la card sea negro */
}

.card-action a {
  color: black; /* Asegurar que el enlace en la card sea negro */
}

h5, h6 {
  color: black; /* Cambiar el color de los títulos a negro */
}

