body {
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .titulo {
      text-align: center;
  }
  .logo {
    text-align: center;
    margin-bottom: 20px;
    margin: 10px auto;
  }
  h4 {
    font-weight: bold;
    
  }
  .btn-option {
    margin: 15px;
  }
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    .logo {
        max-width: 50%; 
         
      margin-top: 10px;
    }
    .btn-option {
      margin: 10px;
    }
  }