
    body {
      font-family: Arial, sans-serif;
    }

    .logo {
      float: right;
      margin-top: 10px;
    }

    h6 {
      font-weight: bold;
      text-align: center;
    
    }

    .container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }

    #searchInput {
        float: left;
        width: 150px;
    }

    .table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ccc;
      margin-top: 20px;
      justify-items: center;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .btn-editar, .btn-eliminar {
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    .btn-editar {
      background-color: #3498db;
      color: white;
      margin-right: 5px;
    }

    .btn-eliminar {
      background-color: #e74c3c;
      color: white;
    }
  
    @media (max-width: 600px) {
      .container {
        padding: 10px;
      }
      .logo {
        max-width: 50%; 
        float: right; 
        margin-top: 10px;
      }
      .btn-floating.btn-large {
        display: block; 
        float: left;
        margin-top: 10px;
        margin-right: 10px;
      }
    }